@media(max-width:575px){

    .navbar-toggler{

        background: transparent;
        margin-right: 20px;
        border: none;
        box-shadow: none;
        
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-brand {
        margin-left: 20px;
    }

    .navbar-icon{

        color: #ff3334;
        width: 100px;
    }

    .stop{

background: transparent;

border: none;

box-shadow: none;

color: white;

margin: 25px 0px;



}
    
    .offcanvas-body{

        background-color: #2c5ba5; ;

    }

    .offcanvas-header{

background-color: #2c5ba5;

padding: 0;

padding-top: 15px;

padding-left: 15px;

padding-right: 15px;

}

    .navbar-nav{

        text-align: center;
    }

    .nav-link{

        font-weight: 400;
        font-size: 25px;
        text-transform: lowercase;  
        color: white;
    }

    .nav-link:hover{

        color: #ff3334 !important;
    }

    .offcanvas-title{

        width: 150px;
    }

    .banner_tittle {

        padding: 0;

    }

    .banner_tittle h2 {

        padding-bottom: 20px;
    }

    .swiper {

        padding-top: 100px;

    }

    .swiper-slide {

        margin: 0 40px;
    }

    .headphone_col{

        display: none;
    }

    .headphone_text{

        margin-top: 50px;


    }

    .headphone{

        min-height: 470px;
    }

    .feature_phone{

        display: none;
    }

    .extra-pad {

padding-left: calc(var(--bs-gutter-x) * .5);

}

.feature_title h2 {
    margin-bottom: 60px;
}

.plate {
    display: none;
}

.cards_photo {
    width: 82%;
    top: 28%;
    transform: translateY(28%);
}

.cards_wrap {
    margin-top: 0;
}
  

.cards {
    padding-top: 0;
    min-height: 700px;
}

.review_wrap {
    padding: 0;
}

.rightfooter {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
}

.leftfooter {
    text-align: center;
}

.footerwrap {
    display: block;
}

.nav-item {
    margin-left: 0;
}



}
@media(max-width:425px){


    .banner_tittle h2 {
        font-size: 35px;
    }

    .banner_tittle p {

        font-size: 16px;

    }

    .explore {
        color: #ff3334;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 500;
    }

    .swiper-slide {
        margin: 0 10px;
    }

    .headphone_text h2 {
    font-size: 30px;
    }

    .headphone_text {
        margin-top: 0;
    }

    .headphone {
        min-height: 400px;
    }

    .feature_title h2 {

        font-size: 35px;
    }

    .cards_wrap img {
        width: 40px;
    }

    .features {
        padding-bottom: 10px;
    }

    .cards_photo {
        width: 96%;
        top: 32%;
        transform: translateY(32%);
    }

    .reviewer {
        display: block;
    }

    .reviewer_photo img {
        display: inline-block;
    }

    .reviewer_photo {
        margin: 0;
        margin-bottom: 15px;
    }

    .downloadbtn {
        font-size: 16px !IMPORTANT;
        margin: 30px auto;
    }

    .nav-item {
        margin-left: 0;
    }
}

@media(max-width:375px){

    .banner_tittle h2 {
        font-size: 30px;
    }

    .explore {
        margin-top: 50px;
        font-size: 16px;
        width: 200px;
    }

    .swiper-slide {
        height: fit-content;
    }

    .viewmore {
        margin: 30px 0;
    }

    .headphone {
        min-height: 350px;
    }

    .icon_wrap img {
        width: 31px;
    }

    .cards_wrap img {
        width: 30px;
    }

    .cards_photo {
        top: 37%;
        transform: translateY(37%);
    }

    .reviewer_photo img {
        display: inline-block !important;
    }

    .centerphoto img {
        height: 492px;
    }

    .downtext h4 {
        font-size: 30px;
    }

    .downtext p {
        margin: 0;
        font-size: 16px;
        margin-top: 20px;
    }

    .downtext {

        padding-top: 60px;
    }

    .downloadbtn{

        margin: auto;
        margin-top: 30px;
    }

    .leftfooter {
        display: none;
    }

    .footerwrap{
        margin: 0;
        margin-bottom: 30px;
    }
}





